{% extends "layout.html" %}
{% block body %}
<div class="col col-12 push-middle push-center text-center">
  <h1>dis is where we keepies bun buns</h1>
  <img src=""> <BR>image here<BR>
  <form method="post" action="" class="form">
      <div class="form-item"><label>Rabbit Breed</label>
          <div class="append w50 push-center">
              <input type="text" name="breed_name" placeholder="breed name"><button class="button outline"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        </div>
      </div>
  </form>
</div>
  {% endblock %}
