<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/kube.min.css">
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/icons.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="js/modernizr.custom.js"></script>
    <script src="js/kube.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/mlpushmenu.js"></script>
    <title>Bunny-Net</title><!--Title of the page usually appears on tab-->
  </head>
  <body>
    <div class="container">
			<!-- Push Wrapper -->
			<div class="mp-pusher" id="mp-pusher">
        <nav id="mp-menu" class="mp-menu">
					<div class="mp-level">
						<ul>
							<li><a href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Home</a></li>
							<li><a href="/about"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; About</a></li>
              <li><a href="/breeds"><i class="fa fa-heart fa-fw" aria-hidden="true"></i>&nbsp; Breeds</a></li>
						</ul>
					</div>
				</nav>
        <div class="scroller">
          <div class="scroller-inner">
            <header id="headernavbar">
              <div class="block block-40 clearfix">
                <div id="brand-name" style="float:left">
                  <p>Bunny-Net</p>
                </div>
                <div id="mobile-header" class="mobile-only" style="float:right">
                    <p><a href="#" id="trigger">
                      <i class="fa fa-bars" aria-hidden="true"></i>
                    </a></p>
                </div>
                <div id="navigation" class="desktop-only float-right">
                  <p><a href="/">Home</a> / <a href="/about">About Us</a> / <a href="/breeds">Breeds</a></p>
                </div>
              </div>
            </header>
            {% block body %} {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    new mlPushMenu(document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ));
    new Kube.Tabs(document.getElementById('livetabs1'));
    new Kube.Tabs(document.getElementById('livetabs2'));
    new Kube.Tabs(document.getElementById('livetabs3'));
    new Kube.Collapse(document.getElementById('my-collapse-api'));
    
  </script>
</html>
