{% extends "layout.html" %}
{% block body %}
<div class="jumbotron text-center">
  <div class="overlay">
    <h1>Upload a BunBun</h1>
    <p>Yay!</p>
 </div>
</div>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class=flashes>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %} 
<div class="w100 w100-sm text-center">
  <div class="col col-11 push-center">
    <form id="upload-form" method="POST" enctype="multipart/form-data" action="{{ url_for('upload') }}" style="margin-left:10%; margin-right:10%;">
        <div class="form-item push-center">
            <label>Breed <span class="req">*</span></label>
            <input type="text" class="w50 push-center" name="breed" placeholder="Lop" required>
        </div>
        <div class="form-item">
            <label>Select an image to upload <span class="req">*</span>
            <input type="file" class="w50" name="file" accept="image/*" required>
            </label>
        </div>
        {{ recaptcha }}
        <BR><BR>
        <input class="button outline" type="submit" value="Submit">
    </form>
  </div>
</div>

{% endblock %}
